.card-body-2, .card-body{
    padding: 25px 0;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(17, 24, 39, 0.8);
    color: rgb(225, 225, 225);
    box-shadow: rgba(138,62,183,0.3) 5px 5px 15px;
}
.card-body-2{
    margin: 20px auto;
}

.mb-2{
    color:white;
    margin:-3px;
}

.small-opacity{
    opacity: 0.5;
}

.heart{
    cursor: pointer;
    transition: color 0.25s;
    color:red;
}

.btn-primary{
    margin: 10px;
    border: none;
    background: #6332c5;
    color: #fff;
}

.btn-primary:hover{
    background-color: rgba(138,62,183,0.3);
}

.edit-icon {
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    font-size:1.2em;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-5{
    color:white;
}

.comments-section{
    padding: 25px 0;
    margin: 25px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(17, 24, 39, 0.8);
    color: rgb(225, 225, 225);
    box-shadow: rgba(138,62,183,0.3) 5px 5px 15px;
}

.form-control{
    text-align: left;
}
.comment-block {
    background-color: #2a2a2a; /* Slightly different color for contrast */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px; /* Increased margin to add more space between comments */
    color: #fff; /* Text color for better visibility */
    display: flex;
    align-items: flex-start;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.comment-header img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.comment-body {
    flex: 1;
    text-align: right; /* Align text to the right */
}

.comment-body p {
    margin-bottom: 10px;
}

.delete-icon {
    cursor: pointer;
    margin-left: 10px;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
}
.btn-facebook:hover {
    background-color: #2d4373;
    color: white;
}
.btn-x {
    background-color: #1da1f2;
    color: white;
}
.btn-x:hover {
    background-color: #0d8ddc;
    color: white;
}

.x-icon {
    font: normal normal normal 12px/18px 'Helvetica Neue',Arial,sans-serif;
    user-select: none;
    --rem: 16;
    font-size: 13px;
    line-height: 26px;
    white-space: nowrap;
    text-align: left;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: transparent url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' fill='none'/%3E%3Cpath d='M17.9686 14.1623L26.7065 4H24.6358L17.0488 12.8238L10.9891 4H4L13.1634 17.3432L4 28H6.07069L14.0827 18.6817L20.4822 28H27.4714L17.9681 14.1623H17.9686ZM15.1326 17.4607L14.2041 16.132L6.81679 5.55961H9.99723L15.9589 14.0919L16.8873 15.4206L24.6368 26.5113H21.4564L15.1326 17.4612V17.4607Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat 0 0;
    top: 4px;
    height: 18px;
    width: 18px;
}