.page-settings {
    background: #0b032e;
    font-family: Tahoma, serif;
    background-size: cover;
}

.post {
    margin: 5vh 17vh 10vh;
    color: rgb(225, 225, 225);
    width: 18rem;
}

.hide {
    display: none;
}

.card,
.card-background {
    background: rgb(0,0,0);
    background: linear-gradient(319deg, rgba(0,0,0,0.8) 24%, rgba(3,0,149,0.8) 100%);
    color: rgb(225, 225, 225);
}

.card,
.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 30ch;
}

.sponsored-card-text {
    width: 10%;
    height: 7%;
}

.sponsored-card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 27ch;
}

.card,
.card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 24ch;
}

.card:hover {
    background: rgb(0,0,0);
    background: linear-gradient(319deg, rgba(0,0,0,0.8) 0%, rgba(3,0,149,0.8) 87%);
    color: rgb(225, 225, 225);
    box-shadow: rgba(138,62,183,3) 1px -5px 40px;
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card,
.trending {
    background-color:rgb(17, 24, 39);
    color: rgb(225, 225, 225);
}

body,
html {
    height: 100%
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.sidenav {
    height: 86%; /* Full-height: remove this if you want "auto" height */
    width: 375px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    bottom: 0; /* Stay at the bottom */
    right: 0;
    background-color: rgba(17, 24, 39, 0.8);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-top-left-radius: 20px;

}

.sidenav h5, hr {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(225, 225, 225);
    display: block;
}


/* Search bar */

.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
}

.search-icon:hover{
    color: #fff !important;
}

a:link {
    text-decoration: none
}

.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    cursor: pointer;
    transition: all 2s;
}

.card-inner:hover{
    transform: scale(1.1);
}

.mg-text span{
    font-size: 12px;
}

.mg-text{
    line-height: 14px;
}

#sidenav-title {
    color: white;
    font-size: 4vh;
    text-align: center;
    margin-bottom: 1vh;
}

#sidenav-content {
    padding-top: 0.5vh;
    margin-left: 1.2vh;
}

.sponsored-card {
    background: rgb(0,0,0);
    background: linear-gradient(319deg, rgba(0,0,0,0.8) 24%, rgba(231,255,0,0.8) 100%);
    color: rgb(225, 225, 225);
    cursor: pointer;
}

.sponsored-card:hover {
    background: rgb(0,0,0);
    background: linear-gradient(319deg, rgba(0,0,0,0.8) 0%, rgba(231,255,0,0.8) 100%);
}

.text-style {
    color: yellowgreen;
    font-family: Georgia, sans-serif;
    text-shadow: midnightblue 0.4vh 0.4vh;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}