#top-background {
    background-image: url("../assets/images/picture.jpg");
    background-repeat: no-repeat;
    background-size: 200vh 100vh;
}

#top-content {
    display: flex;
    margin-top: 60vh;
    margin-bottom: 20vh;
    justify-content: center;
}

#categories {
    margin-top: 13vh;
    margin-bottom: 16vh;
}

#form {
    margin-bottom: 10vh;
}

#page-content {
    margin-top: 5vh;
}

#offcanvasBottom {
    margin-left: 2vh;
    margin-bottom: 2vh;
    width: 75vh;
}

#left-content {
    text-align: center;
    margin: auto;
}

.title {
    text-align: center;
}

#music {
    display: none;
}

.white-block {
    overflow: hidden;
    display: block;
    width: 10.5vh;
    height: 23vh;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: white;
    border-radius: 0;
    margin-top: 2.5vh;
}

.white-block:hover {
    height: 21.5vh;
}

.black-block {
    position: absolute;
    width: 4vh;
    height: 15vh;
    background-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 2.5vh;
}

.black-block:hover {
    height: 13.5vh;
}

.first-page-card {
    margin: 5vh 17vh 10vh;
    box-shadow: rgba(138,62,183,0.3) 1px -5px 35px;
    color: rgb(225, 225, 225);
}

.image-first-page-card {
    height: 50vh;
}

.card-btn {
    border: none;
    background: none;
    font-size: 3vh;
}

.category-btn {
    width: 10vh;
    height: 15vh;
    font-size: 3vh;
    box-shadow: rgba(138,62,183,0.3) 1px -5px 50px;
}

.hide {
    display: none;
}

.card,
.card-background {
    background-color:rgb(17, 24, 39);
    color: rgb(225, 225, 225);
    box-shadow: rgba(138,62,183,0.3) 1px -5px 40px;
}

#menu-btn {
    color: white;
    font-size: 3vh;
    background: none;
    border: none;
}

@keyframes
fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-text {
    animation: fade-in 3s;
}

.fade-in-image {
    animation: fade-in 3s;
}
