#top-background {
    background-image: url("../assets/images/picture.jpg");
    background-repeat: no-repeat;
    background-size: 200vh 100vh;
}

#top-content {
    display: flex;
    margin-top: 60vh;
    margin-bottom: 20vh;
    justify-content: center;
}

#categories {
    margin-top: 13vh;
    margin-bottom: 16vh;
}

#form {
    margin-bottom: 10vh;
}

#offcanvasScrolling {
    margin-top: 13.5vh;
    height: 83.5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar {
    background-color: rgba(17, 24, 39, 0.8);
}

#page-content {
    margin-top: 5vh;
}

#left-content {
    text-align: center;
    margin: auto;
}

.title {
    text-align: center;
}

.white-block {
    overflow: hidden;
    display: block;
    font-size: 2.5vh;
    color: darkslategrey;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: white;
    padding: 4vh;
    border-radius: 0;
}

.black-block {
    position: absolute;
    background-color: black;
    padding: 2.7vh 20vh;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.first-page-card {
    margin: 5vh 17vh 10vh;
    box-shadow: rgba(138,62,183,0.3) 1px -5px 35px;
    color: rgb(225, 225, 225);
}

.image-first-page-card {
    height: 50vh;
}

.card-btn {
    border: none;
    background: none;
    font-size: 3vh;
}

.category-btn {
    width: 10vh;
    height: 15vh;
    font-size: 3vh;
    box-shadow: rgba(138,62,183,0.3) 1px -5px 50px;
}

.hide {
    display: none;
}

.card,
.card-background {
    background-color:rgb(17, 24, 39);
    color: rgb(225, 225, 225);
    box-shadow: rgba(138,62,183,0.3) 1px -5px 40px;
}

#menu-btn {
    color: white;
    font-size: 3vh;
    background: none;
    border: none;
}

#logo {
    width: 17vh;
    border-radius: 50%;
}

@keyframes
fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-text {
    animation: fade-in 3s;
}

.fade-in-image {
    animation: fade-in 3s;
}
