body {
    background: #0b032e;
    font-family: Tahoma, serif;
    background-size: cover;
}
#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}
.header{
    background: white;
    height: 7vh;
}


.ib {
    border: 1px solid #ccc;
    display: table-cell;
}

.contactAndChat{
    display: table;
    width: 100%;
}
.chat{
    /*float:left; display:inline; width: 75%;*/
    /*position: relative;*/
    width: 73.8%;
}
.row {
    position: relative;
    display: flex;
}
#navbar{
   display: table;
    width: 100%;
}
#navitems{
    display: table-cell;
}
.chat-box{
    overflow-y: scroll;
    background-color: initial;
    height: 78.3vh;
}
.message{
    border-radius: 25px;
    background-color: #34A1FD;
    padding: 20px;
    width: 150px;
    color: #201d1d;
    box-shadow: 2px 2px black;
}
.left{

}
.right{
    display: flex;
    text-align: left;
    justify-content: right;
}
.contacts{
    background:white;
    padding: 1px;
    width: 25.7%;
    height: 89vh;
    overflow-y: scroll;
    /*position: relative;*/
}
.contact{
    border-radius: 5px;
    margin: 5px;
    box-shadow: 2px 2px grey;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
a:link {
    color: #000000;
}
