.input-wrapper {
    position: relative;
    display: inline-block;
    width: 75%;
}

.input-wrapper input {
    padding-right: 40px;
}

.input-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header{
    height: 9vh;
    width: 45%;
    background-color: rgba(17, 24, 39, 0.8);
    box-shadow: rgba(138,62,183,0.3) 5px 5px 15px;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.ib {
    display: inline-block;
}

.contactAndChat{
    display: flex;
    width: 100%;
}

.chat{
    /*float:left; display:inline; width: 75%;*/
    /*position: relative;*/
    width: 76.3%;
}

#navbar{
    display: table;
    width: 100%;
}

#navitems{
    display: table-cell;
}

.chat-box{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 74vh;
    overflow-x: hidden;
}
.message{
    padding: 1vh 0.5vh;
    border-radius: 25px;
    background: linear-gradient(319deg, rgba(0, 14, 35, 1) 0%, rgba(26, 22, 154, 1) 49%, rgba(0, 14, 35, 1) 100%);
    width: fit-content;
    max-height: fit-content;
    max-width: 30vh;
    color: rgb(17, 24, 39);
    box-shadow: rgba(138,62,183,0.3) 5px 5px 15px;
}
.left{
    align-self: flex-start;
    margin-bottom: 0.3vh;
    margin-left: 4vh;
    display: grid;
}
.right{
    align-self: flex-end;
    margin-right: 4vh;
    display: grid;
}
.contacts{
    background: rgba(17, 24, 39, 0.8);
    box-shadow: rgba(138,62,183,0.3) 5px 5px 15px;
    padding: 1px;
    width: 23.7%;
    height: 91vh;
    overflow-y: scroll;
}
.contact{
    text-align: center;
    margin: 1.5vh;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: royalblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkblue;
}
a:link {
    color: #000000;
}
