.card-body{
    background-color: rgba(17, 24, 39, 0.8);
    color: rgb(225, 225, 225);
    box-shadow: rgba(138,62,183,0.3) 1px -5px 40px;
}

.profile-details-box{
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(17, 24, 39, 0.8);
    color: rgb(225, 225, 225);
    box-shadow: rgba(138,62,183,0.3) 5px 5px 15px;
}

.profile-header {
    padding: 50px 0;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(17, 24, 39, 0.8);
    color: rgb(225, 225, 225);
    box-shadow: rgba(138,62,183,0.3) 5px 5px 15px;
}

.profile-details-box h3 {
    position: relative;
    margin-top: 0;
    padding-bottom: 10px;
    color: #fff;
}

.profile-details-box h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #6332c5;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 165px;
}

.profile-details h3 {
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.profile-details-box p, .profile-details-box ul {
    margin-bottom: 20px;
    color: rgb(225, 225, 225);
}

.btn-close-white {
    filter: invert(1);
}

.btn-primary {
    background-color: #6332c5;
    border: none;
}

.btn-save {
    background-color: #0b032e;
    color: white;
}

.form-floating {
    margin-bottom: 1rem;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.calendar-header h4{
    flex: 1;
    text-align: left;
}

.calendar-current-date {
    position: absolute;
    right: 20px;
    font-weight: 500;
    font-size: 1.25rem;
    color: #fff;
    margin: 0 20px;
}

.month {
    position: relative;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.month ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.month ul li {
    display: inline-block;
    cursor: pointer;
}

.month ul li.prev {
    float: left;
    padding-right: 10px;
}

.month ul li.next {
    float: right;
    padding-left: 10px;
}

.weekdays {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0b032e;
    text-align: center;
    border-radius: 10px;
}

.weekdays li {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}

.days {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.days li {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin: 2px;
    border-radius: 5px;
    background-color: #fff;
}

.days li.active {
    background-color: #0b032e;
    color: #fff;
}

.modal-content {
    border-radius: 15px;
}

.modal-header {
    background-color: #0b032e;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-body, .modal-footer {
    padding: 20px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.calendar-container,
.schedule-container {
    padding: 20px;
    height: 100%;
    border-radius: 25px;
    color: #fff;
    background-color: rgba(17, 24, 39, 0.8);
    box-shadow: rgba(138,62,183,0.3) 5px 5px 15px;

}

.schedule-date {
    text-align: center;
    font-size: 0.9rem;
    color: #ffffff;
    margin-top: -10px;
    margin-bottom: 20px;
}

.schedule-content p {
    margin: 5px 0;
}

.calendar-navigation {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.calendar-navigation .material-symbols-rounded {
    color: #ffffff;
    background: #0b032e;
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
}

.calendar-navigation .material-symbols-rounded:hover {
    background: #6332c5;
    color: #fff;
}

.calendar-current-date {
    font-weight: 500;
    font-size: 1.25rem;
    color: #fff;
}

.calendar-body {
    padding: 20px;
    color: #fff;
}

.calendar-body ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar-body .calendar-dates {
    margin-bottom: 20px;
}

.calendar-body li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #fff;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}

.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.calendar-dates li.inactive {
    color: #aaa;
}

.calendar-dates li.active {
    color: #fff;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}

.schedule h3 {
    margin-bottom: 10px;
    color: #fff;
}

#schedule-content {
    flex-grow: 1;
    color: #fff;
}

footer {
    color: #fff;
}

.edit-icon {
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    font-size:1.2em;
}

.edit-icon:hover {
    color: #ccc;
}

.account-info{
    font-size: 0.9em;
    color: #bbb;
    text-align: left;
    margin-top:10px;
}
