.navbar-color {
    background: rgb(18,30,124);
    background: linear-gradient(185deg, rgba(18,30,124,1) 19%, rgba(10,14,28,1) 98%);
}

.page-settings {
    background: url("/images/background2.png");
    font-family: Tahoma, serif;
    background-size: cover;
}

.white-block {
    display: block;
    font-size: 2.5vh;
    color: darkslategrey;
    border: 1px solid grey;
    background-color: white;
    padding: 4vh;
    width: 90%;
    border-radius: 0;
}

.black-block {
    position: absolute;
    background-color: black;
    padding: 2.7vh 21vh;
    border-radius: 0;
    margin-top: 8.5vh;
}

.first-page-card {
    margin: 5vh 17vh 10vh;
    align-items: center;
    box-shadow: rgba(138,62,183,0.3) 1px -5px 15px 20px;
    color: rgb(225, 225, 225);
}

.image-first-page-card {
    height: 50vh;
}

.card-btn {
    border: none;
    background: none;
    font-size: 3vh;
}

.comment {
    background-image: url("../images/background2.png");
}

#createPostForm {
    background-image: url("../images/background2.png");
}

.category-btn {
    padding: 25vh 10vh;
    font-size: 3vh;
}

.hide {
    display: none;
}

#main-content {
    border: 10px black;
}

.card {
    background-color:rgb(17, 24, 39);
    color: rgb(225, 225, 225);
}