.white-block {
    overflow: hidden;
    display: block;
    width: 10.5vh;
    height: 23vh;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: white;
    border-radius: 0;
    margin-top: 2.5vh;
}

.white-block:hover {
    height: 21.5vh;
}

.black-block {
    position: absolute;
    width: 4vh;
    height: 15vh;
    background-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 2.5vh;
}

.black-block:hover {
    height: 13.5vh;
}

#offcanvasBottom {
    margin-left: 2vh;
    margin-bottom: 2vh;
    width: 75vh;
}

.page-settings {
    background: #0b032e;
    font-family: Tahoma, serif;
    background-size: cover;
}

.navbar {
    background: rgb(0,14,35);
    background: linear-gradient(319deg, rgba(0,14,35,0.7) 0%, rgba(26,22,154,0.7) 49%, rgba(0,14,35,0.7) 100%);
    z-index: 1; /* Stay on top */
}

#logo {
    width: 17vh;
    border-radius: 50%;
}

.main-content {
    background-color: rgba(17, 24, 39, 0.8);
    box-shadow: rgba(138,62,183,0.3) 5px 5px 15px;
    margin: auto;
}

#music {
    display: none;
}

body,
html {
    height: 100%
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.card-btn {
    border: none;
    background: none;
    font-size: 3vh;
}

/* Navbar button */

.navbar-btn {
    text-decoration: none;
    color: white;
    margin-right: 3vh;
    font-size: 2.3vh;
}

.navbar-btn:hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 0.3vh;
    text-underline-offset: 0.8vh;
}

.button-cover {
    position: relative;
    overflow: hidden;
    color: white;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 5px 5px;
    text-decoration: none;
    cursor: pointer;
    background: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-cover span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-cover span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-cover:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: mediumpurple;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-cover:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-cover:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* Button */

.button-1 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 43px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 17px;
}

.button-1:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-1:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-1:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

#log-in-btn,
#log-out-btn {
    font-size: 2.3vh;
    height: 5.5vh;
    width: 11vh;
}

#log-in-btn,
#log-out-btn:hover {
    color: white;
}
